.square {
    padding: 0;
    border: 1px solid black;
}

.my-pixel {
    overflow: hidden;
    width: 1px;
    height: 1px;
    background-color:  white;
    padding: 0;
}

.my-pixel-edit {
    overflow: hidden;
    width: 20px !important;
    height: 20px !important;
    background-color:  white;
    padding: 0;
    border: 1px solid black;
}
